
div{
    margin: auto;
    width: 71%;
    display: flex;
    justify-content: center;
    height: 495px;
    margin-top: 55px;
    border: 8px solid rgb(108, 131, 233);
    border-radius: 5px;
    background-image: url(mi71.png);
    background-size: cover;
    position: relative;
}
#left{
    left: 0;
    margin-left: -25px;
}
#right{
    right: 0;
    margin-right: -25px;
}
#left, #right{
    position: absolute;
    top: 50%;
    padding: 12px 12px;
    background-color: rgb(108, 131, 233);;
    border: 3px solid rgb(108, 131, 233);
    border-radius: inherit;
    color: white;
    font-size: 20px;
}
#left:hover, #right:hover{
    background-color: white;
    color: rgb(108, 131, 233);
    transition-duration: 250ms;
}
